@using DoorData.Domain
@namespace DoorData.FrontEnd.Components

@code {
    
    [Parameter]
    public IEnumerable<MilleniumHistoryEntry> Entries { get; set; }
}

<div>
    <table border=0 cellpadding=0 cellspacing=0 style="text-size: 8pt;">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Site</th>
            <th>Device</th>
            <th>Action</th>
            <th>Output A</th>
            <th>Output B</th>
            <th>Output C</th>
            <th>Operator</th>
            <th>Extra Data</th>
        </tr>
        @foreach (MilleniumHistoryEntry entry in Entries) {
            <tr>
                <td>@entry.TransactionTimestamp.ToShortDateString()</td>
                <td>@entry.TransactionTimestamp.ToLongTimeString()</td>
                <td>@entry.SiteName</td>
                <td>@entry.DeviceName</td>
                <td>@entry.ActionDescription</td>
                <td>@entry.OutputColumnA</td>
                <td>@entry.OutputColumnB</td>
                <td>@entry.OutputColumnC</td>
                <td>@entry.Operator</td>
                <td>@entry.ExtraData</td>
            </tr>       
        }     
    </table>
</div>